.content {
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 200px);
}

.item {
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  margin: 0 8px 15px;
  height: max-content;
}

.item-image {
  background-color: #ccc;
  img {
    width: 100%;
  }
}

.item-meta-title {
  font-weight: 700;
  color: #03A9F4;
  margin-bottom: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 200px;
}

.item-meta-mission {
  ul {
    margin: 0;
  }
}

@media screen and (max-width: 700px) {
  .container {
    display: block;
  }
  .sidebar {
    margin: 0 auto 10px;
  }
  .content {
    margin: 0 auto;
  }
  .item {
    width: 100%;
  }
}

@media screen and (min-width: 701px) and (max-width: 1024px) {
  .item {
    width: 42%;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .item {
    width: 20%;
  }
}

@media screen and (min-width: 1440px) {
  .item {
    width: 20%;
  }
  .content {
    padding: 0;
    max-width: 1440px;
    justify-content: center;
    margin: 0 auto;
  }
}